[submodule "MetroRadiance"]
	path = MetroRadiance
	url = https://github.com/n3ustudio/MetroRadiance.git
[submodule "YDock"]
	path = YDock
	url = https://github.com/n3ustudio/YDock.git
[submodule "NeuTask"]
	path = NeuTask
	url = https://github.com/n3ustudio/NeuTask.git
[submodule "World.NET"]
	path = World.NET
	url = https://github.com/n3ustudio/World.NET.git
[submodule "World.UI"]
	path = World.UI
	url = https://github.com/n3ustudio/World.UI.git
